doctype html
html
head
    link(rel="stylesheet" href="/css/style.css")
title= title
script.
    const source = new EventSource('/events');

     source.addEventListener('event', function(event) {
          const data = JSON.parse(event.data);
          document.getElementById('temperature').innerHTML=JSON.stringify(data.temperature) + ' °C';
          document.getElementById('flow').innerHTML=JSON.stringify(data.flow) + ' m3/s';
     },false);
body
    div.app
        header.common.header
            code#temperature= temperature
            code#flow= flow
        section.common.section
            div.databox
                div.row.lead
                    div.col Datum
                    div.col Temperatur
                    div.col Wassermenge m3/s
                for entry in history.reverse()
                    - var time = new Date(entry.timestamp*1000)
                    div.row
                        div.col= dayjs(time).format('DD.MM.YYYY HH:mm')
                        div.col= entry.temperature.toFixed(2)
                        div.col= entry.flow